* {
    box-sizing: border-box;
    border: none;
}

body {
    background-color: #274471;
    font-family: 'Lato', sans-serif;
    padding-top: 180px;
}

.container {
    width: 400px;
    margin: 30px auto;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    box-shadow: 15px 10px 10px rgb(50, 47, 47);
}

#contactForm {
    padding: 25px;
    
}

input {
    width: 100%;
    padding: 10px 16px;
    margin: 8px 0px;
    border-radius: 8px;
    background-color: white;
}

/* 

ANOTHER WAY OF DOING IT

input[type=text],
input[type=email],
input[type=submit=],
textarea {
    width: 100%;
    border: none;
    padding: 10px 15px;
    margin: 8px 0;
    
*/

textarea {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    resize: none;
    margin-top: 10px;
}

.submit {
    background-color: #1ac0f3;
    padding: 14px 20px;
    cursor: pointer;
    color: white;
}

.submit:hover {
    color: black;
}